:root {
  --feature-box-color: #fff;
}

[data-theme='dark'] {
  --feature-box-color: #1b1b1d;
}

.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.feature {
  min-height: 330px;
}

.featureContent {
  background-color: var(--feature-box-color);
  height: 90%;
  font-size: 0.9rem;
}

.featureSvg {
  height: 50px;
  width: 50px;
}
