.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.feature {
  min-height: 330px;
}

.featureContent {
  background-color: #ffffff;
  height: 90%;
  font-size: 0.9rem;
}

.featureSvg {
  height: 50px;
  width: 50px;
}