version: 2.1

orbs:
  node: circleci/node@7.1.0
  slack: circleci/slack@4.10.1

jobs:
  build-and-deploy:
    executor: node/default
    steps:
      - checkout
      - node/install-packages:
          cache-path: ~/project/node_modules
          pkg-manager: yarn-berry
      - run: yarn build
      - slack/notify:
          event: fail
          template: basic_fail_1
      - add_ssh_keys:
          # Add github deploy key
          # https://circleci.com/docs/github-integration#create-a-github-deploy-key
          fingerprints:
            - "8a:22:0b:a6:fb:bd:d8:75:87:1c:07:39:1e:7f:6b:3b"
      - run:
          # see https://circleci.com/docs/github-integration#establish-the-authenticity-of-an-ssh-host
          name: setup git
          command: |
            mkdir -p ~/.ssh
            ssh-keyscan github.com > ~/.ssh/known_hosts

            git config --global user.name "syntassodev"
            git config --global user.email "kratix@syntasso.io"
      - run:
          name: deploy
          command: |
            export CUSTOM_COMMIT_MESSAGE="[ci skip] Deploy website - based on $(git rev-parse HEAD)"
            yarn deploy
          no_output_timeout: 2m

workflows:
  build-and-deploy:
    jobs:
      - build-and-deploy:
          context:
          - slack-secrets
          filters:
            branches:
              only: main
