/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  /* text-align: center; */
  min-height: 500px;
  position: relative;
  overflow: hidden;
  background-image: url('/img/home/puzzle-splash.webp');
  /* box-shadow: inset 0 0 0 1000px rgba(148, 13, 174, 0.28); */
  box-shadow: inset 0 0 0 1000px rgba(82, 58, 99, 0.8);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: helvetica-w01-light,helvetica-w02-light,sans-serif;
}

.heroContainer {
  max-width: 980px;
}

.actionLink {
  /* height: 100px; */
  text-align: center;
  vertical-align: middle;
}
.actionIcon {
  /* width: 30px; */
  height: 50px;
  /* float: left; */

}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1.5rem;
  text-decoration: underline;
  font-weight: bold;
}

.buttons a {
  margin: 0 0 0 -1rem;
}

.promises {
  color: #3E4656;
  font-family: helvetica-w01-light,helvetica-w02-light,sans-serif;
  font-size: 18px;
  line-height: 1.8em;
  font-weight: lighter;
}

.kratixDescription {
  font-size: 22px;
}

.kratixLogo {
  width: 300px;
  max-width: 300px;
}