
:root {
  --text-color:  rgb(209, 209, 209);
}

.root {
  display: 'flex';
  flex-wrap: 'wrap';
  justify-content: 'space-around';
  overflow: 'hidden';
}

.main {
  max-width: 1600px;
  margin: auto;
  padding: 50px 0;
}

ul {
  margin: auto !important;
}

.logo {
  max-width: 11rem;
  margin: auto;
  padding: 20px 0 0;
}

.cardAction:hover {
  text-decoration: none;
  color: black;
}

.categoriesList {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  list-style: none;
  padding: 20px 0 0;
  margin: 0;
}

.cardTitle {
  margin-top: 10px;
}

.cardDescription {
  min-height: 80px;
}

header h1 {
  text-align: center;
}

[data-theme="dark"] {
  .card {
    background-color: #303846;
    color: var(--text-color);
  }

  .cardAction:hover {
    color: #fff;
    .chip {
      color: #fff;
    }
  }

  .chip {
    color: var(--text-color);
  }
}