
:root {
  --text-color:  rgb(209, 209, 209);
  --banner-color: #65b142;
}

[data-theme='light'] {
  --bg-card-coming-soon: #ececec;
}

[data-theme='dark'] {
  --bg-card-coming-soon: rgb(45, 45, 45);
}

.root {
  display: 'flex';
  flex-wrap: 'wrap';
  justify-content: 'space-around';
  overflow: 'hidden';
}

.main {
  max-width: 1600px;
  margin: auto;
  padding: 50px 0;
}

ul {
  margin: auto !important;
}

.logo {
  max-width: 11rem;
  margin: auto;
  padding: 20px 0 0;
}

.cardAction:hover {
  text-decoration: none;
  color: black;
}

.categoriesList {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  list-style: none;
  padding: 20px 0 0;
  margin: 0;
}

.cardTitle {
  margin-top: 10px;
}

.cardDescription {
  min-height: 80px;
}

header h1 {
  text-align: center;
}

[data-theme="dark"] {
  .card {
    background-color: #303846;
    color: var(--text-color);
  }

  .cardAction:hover {
    color: #fff;
    .chip {
      color: #fff;
    }
  }

  .chip {
    color: var(--text-color);
  }
}

.comingSoonBanner {
	position: absolute;
	width: 150px;
	height: 150px;
	top: -5px;
	left: -5px;

  .comingSoonBannerTitle {
    width: 200px;
    padding: 15px;
    background-color: var(--banner-color);
    color: #fff;
    text-align: center;
    transform: rotate(-45deg) translate(-28%, -35%);
    box-shadow: 0px 3px 3px rgba(0,0,0,0.4);
    font-size: 1rem;
  }
}

.card.cardComingSoon {
  background-color: var(--bg-card-coming-soon);
}

.bottomText {
  a {
    margin-left: 5px;
  }

  p {
    margin-bottom: 0.3rem;
  }
}